/* CSS File for FAQs.html */

[data-accordion-element-content] {
  height: auto;
  overflow: hidden;
  transition: height .5s;
}

#faqs .card {
  width: 100%;
  margin: 50px auto;
  border-radius: 2px;
  background: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

#faqs article {
  position: relative;
  font-family: 'Roboto', sans-serif;
  transition: all .3s;
  /* background: #E8EAF6; */
  background-color: #fff6f2;
}

#faqs article.selected {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0 0 5px rgba(2, 2, 2, 0.4);
  z-index: 2;
  background-color: #fff6f2;
}

#faqs h1 {
  position: relative;
  background: #EF6F00;
  background: linear-gradient(-90deg, #F4821F 0%, #EF6F00 100%);
  padding: 20px 60px 20px 30px;
  margin: auto;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  overflow: hidden;
  transition: background .3s;
}
#faqs article:nth-child(odd) h1 {
  background: linear-gradient(-90deg, #F4821F 0%, #EF6F00 100%);
}
#faqs article:nth-child(even) h1 {
  background: linear-gradient(-90deg, #F4821F 0%, rgb(239, 96, 0) 100%);
}
#faqs article h1:hover, #faqs article .selected h1 {
  cursor: pointer;
  background: linear-gradient(90deg, #F4821F 0%, #F4821F 100%);
}
#faqs h1:before, #faqs h1:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -1px;
  margin-right: 30px;
  width: 20px;
  height: 2px;
  background: #fff;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}
#faqs h1:before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-animation: close-line-one-in .8s forwards;
          animation: close-line-one-in .8s forwards;
}
#faqs .selected h1:before {
  -webkit-animation: close-line-one-out .8s forwards;
          animation: close-line-one-out .8s forwards;
}
#faqs h1:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation: close-line-two-in .8s forwards;
          animation: close-line-two-in .8s forwards;
}
#faqs .selected h1:after {
  -webkit-animation: close-line-two-out .8s forwards;
          animation: close-line-two-out .8s forwards;
}

#faqs .content {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  transition: all ease-out .4s .1s;
  background-color: #fff6f2;
}
#faqs .selected .content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  background-color: #fff6f2;
}
#faqs .collapsed .content {
  display: none;
}

#faqs p {
  padding: 25px 30px;
  background: #fff6f2;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

@-webkit-keyframes close-line-one-out {
  0%, 50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  75% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  76% {
    -webkit-transform: translateX(50px) translateY(50px);
            transform: translateX(50px) translateY(50px);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes close-line-one-out {
  0%, 50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  75% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  76% {
    -webkit-transform: translateX(50px) translateY(50px);
            transform: translateX(50px) translateY(50px);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
@-webkit-keyframes close-line-one-in {
  0%, 20% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  60% {
    -webkit-transform: translateX(50px) translateY(50px) rotate(45deg);
            transform: translateX(50px) translateY(50px) rotate(45deg);
  }
  61% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes close-line-one-in {
  0%, 20% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  60% {
    -webkit-transform: translateX(50px) translateY(50px) rotate(45deg);
            transform: translateX(50px) translateY(50px) rotate(45deg);
  }
  61% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@-webkit-keyframes close-line-two-out {
  0%, 50% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  75% {
    -webkit-transform: translateY(-50px) rotate(90deg);
            transform: translateY(-50px) rotate(90deg);
  }
  76% {
    -webkit-transform: translateY(-50px) translateX(50px) rotate(90deg);
            transform: translateY(-50px) translateX(50px) rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}
@keyframes close-line-two-out {
  0%, 50% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  75% {
    -webkit-transform: translateY(-50px) rotate(90deg);
            transform: translateY(-50px) rotate(90deg);
  }
  76% {
    -webkit-transform: translateY(-50px) translateX(50px) rotate(90deg);
            transform: translateY(-50px) translateX(50px) rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}
@-webkit-keyframes close-line-two-in {
  0% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  50% {
    -webkit-transform: translateY(-50px) translateX(50px) rotate(135deg);
            transform: translateY(-50px) translateX(50px) rotate(135deg);
  }
  51% {
    -webkit-transform: translateY(-50px) rotate(90deg);
            transform: translateY(-50px) rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
@keyframes close-line-two-in {
  0% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  50% {
    -webkit-transform: translateY(-50px) translateX(50px) rotate(135deg);
            transform: translateY(-50px) translateX(50px) rotate(135deg);
  }
  51% {
    -webkit-transform: translateY(-50px) rotate(90deg);
            transform: translateY(-50px) rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
