:root {
  --pic-animation: all .35s cubic-bezier(.14,.51,0,1);
  --issue-open: rgb(34, 136, 58);
  --issue-closed: rgb(185, 35, 47);
  --pr-merged: #6F42C1;
}

.hidden {
  display: none;
}

/* SEARCH BOX*/
#searchContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* display: none; */
  position: relative;
}
#searchContainer .gs-searchbox-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
}
#searchContainer .gs-searchbox {
  background-color: transparent;
  border: none;
  border-bottom: unset;
  border-radius: unset;
  outline: unset;
  height: 100%;
  width: unset;
  font-size: unset;
  margin: unset;
  padding: unset;
  -webkit-box-shadow: unset;
  box-shadow: unset;
  box-sizing: border-box;
  -webkit-transition: unset;
  transition: unset;

  width: 300px;
  padding: 17px 25px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 5px solid #F28C1C;
  background-color: #FFFDFA;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 10px;
  font-size: 2rem;
  box-shadow: 1px 5px 20px 0px #ffae3e;
  overflow: hidden;
}
#searchContainer .gs-searchbox:focus {
  border: 5px solid #F28C1C;
}
#searchContainer .gs-searchbox-label {
  font-family: var(--font-family-2);
  font-size: 1.7rem;
  margin-bottom: 5px;
  color: #313131;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#searchContainer .gs-searchbox-label .iconify {
  margin-right: 8px;
}
#searchContainer .gs-search-button {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#searchContainer .gs-search-button .iconify {
  font-size: 1.2rem;
  margin-right: 5px;
}

#errorText {
  color: red;
  font-family: var(--font-family-2);
}
.fetch_error {
  font-family: var(--font-family-2);
  opacity: 0.5;
  font-size: 1rem;
}

#octacat_l {
  width: 150px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.1;
  font-size: 10rem;
}
#octacat_r {
  width: 200px;
  position: absolute;
  bottom: 0px;
  right: -50px;
  z-index: -1;
  opacity: 0.1;
}

@media (max-width: 500px) {
  #searchContainer {
    height: 80vh;
  }
  #searchContainer .gs-searchbox-container {
    margin-top: 10px;
  }
  #octacat_r {
    left: 50%;
    transform: translateX(-50%);
  }
  #octacat_l {
    display: none;
  }
}
@media (max-width: 400px) {
  #searchContainer .gs-searchbox {
    width: 100%;
    padding: 10px 15px;
  }
  #searchContainer .gs-search-button {
    width: 100%;
    margin-top: 20px;
  }
}

/* Layout */
#profileContainer {
  width: 100%;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "header header"
    "stats contributions"
    "projects projects"
    "activity activity";
  display: none;
  position: relative;
}

.gs-profile-container-main {
  grid-area: header;
}
.gs-profile-container-stats {
  grid-area: stats;
}
.gs-profile-container-contributions {
  grid-area: contributions;
}
.gs-profile-container-projects {
  grid-area: projects;
}
.gs-profile-container-activity {
  grid-area: activity;
}

#backButton {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 15px;
  cursor: pointer;
  border: 1px solid #f39440;
  border-radius: 10px;
}
#backButton .iconify {
  font-size: 2rem;
  color: #F57B16;
}
#backButton:hover .iconify {
  color: rgb(246, 151, 73);
}
.fixed-action-btn {
  display: none;
}
.fixed-action-btn .btn-floating {
  background-color: #313131 !important;
}

#errorFetchUser {
  position: absolute;
  top: 0px;
  font-size: 2rem;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
  color: rgb(253, 193, 145);
  text-align: center;
  width: 100%;
}

@media (max-width: 800px) {
  #profileContainer {
    width: 100%;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "header header"
      "stats stats"
      "contributions contributions"
      "projects projects"
      "activity activity";
  }
  #errorFetchUser {
    top: 30px;
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  #backButton {
    display: none;
  }
  .fixed-action-btn {
    display: block;
  }
}
@media (max-width: 400px) {
  #errorFetchUser {
    top: 20px;
    font-size: 1.5rem;
  }
}

.gs-profile-container {
  border-radius: 15px;
}

/* LOADER while data is loading */
.loader {
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #FFB374; /* Blue */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
  margin-top: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* PROFILE Section */
.gs-profile-container {
  padding: 35px 35px 35px 35px;
  border-radius: 10px;
  box-shadow: 10px 10px 0px 0px rgba(239, 112, 0, 0.10), 20px 16px 50px -20px rgb(240, 112, 0);
  transition: var(--member-animation);
  position: relative;
}

.gs-profile-container h2 {
  font-size: 2.2rem;
  font-family: var(--font-family-2);
  font-weight: bold;
  color: rgb(240, 112, 0);
  margin-top: 0px;
}

.gs-profile-pic {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  position: absolute;
  top: -160px;
  left: 40px;
  box-shadow: 8px 12px 20px -15px rgb(255, 255, 255);
  transition: var(--pic-animation);
  user-select: none;
  z-index: 10;
}
.gs-profile-pic:hover {
  transform: translateY(-4px);
  box-shadow: 8px 12px 25px -15px rgb(255, 255, 255);
  transition: var(--pic-animation);
}

.gs-profile-container-main {
  min-height: 311px;
  margin-top: 170px;
  padding: 35px 110px 35px 35px;
  background-color: var(--heading-color);
  background: linear-gradient(45deg, #EF6C00 0%, #f77e1b 100%);
  color: #ffffff;
}

.gs-profile-container .gs-fullname {
  margin-top: 90px;
  font-size: 3.2rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.gs-profile-container .gs-username {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #585858;
  font-family: var(--font-family-2);
  color: #ffffff;
}

.gs-profile-container .gs-bio {
  font-size: 1.2rem;
  margin-top: 15px;
  color: #585858;
  font-family: var(--font-family-2);
  color: #ffffff;
  margin-bottom: 0px;
  margin-top: 30px;
}

.gs-container-img {
  overflow: hidden;
}

.gs-container-img img {
  width: 320px;
  position: absolute;
  right: 20%;
  transform: translateX(-50%);
  top: 20px;
  user-select: none;
  opacity: 0.10;
}

#userScoreContainer {
  position: absolute;
  top: 0px;
  right: 15%;
  transform: translateX(-50%);
}
#userScore {
  color: white;
  font-family: var(--font-family-2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 20px 0px 20px;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 5px solid #fff;
  opacity: 0.7;
  background-color: rgb(250, 135, 41)
}
#userScoreTitle {
  font-size: 1.5rem;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}
#userScoreOutput {
  font-size: 4.5rem;
  margin-top: 30px;
}

@media (max-width: 600px) {
  #userScoreContainer {
    position: relative;
    top: unset;
    right: unset;
    transform: unset;
  }
  #userScore {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 20px 0px 20px;
    margin-top: 30px;
    border-radius: 10px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    opacity: 0.7;
    background-color: rgb(250, 135, 41);
  }
  #userScoreOutput {
    font-size: 3.5rem;
  }
}

/* Social Icons */
.gs-profile-social {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
}

.gs-profile-social a {
  padding: 8px 12px;
  font-size: 2.5rem;
  text-align: center;
  border: none;
  border-image-width: 0;
  background-color: white;
  color: rgba(239, 112, 0, 0.75);
  outline: none;
  transition: var(--member-animation);
}
.gs-profile-social a:hover {
  opacity: 0.9;
}
.gs-profile-social a:first-child {
  border-top-right-radius: 10px;
}
.gs-profile-social a:last-child {
  border-bottom-left-radius: 10px;
}

/* User Stats - Followers, Following, etc.*/
.gs-user-stats {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 20px;
  right: 25px;
  font-family: var(--font-family-2);
  text-align: right;
}
.gs-user-stats .gs-user-stats-item {
  display: flex;
  flex-direction: column;
}
.gs-user-stats .gs-user-stats-title {
  color: rgb(255, 211, 175);
  font-size: 1.3rem;
}
.gs-user-stats .gs-user-stats-data {
  color: rgb(255, 211, 175);
  font-size: 2.5rem;
  font-weight: bold;
}

@media (max-width: 600px) {
  .gs-profile-social {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .gs-profile-social a {
    padding: 8px 12px;
    font-size: 2rem;
    text-align: center;
    border: none;
    border-image-width: 0;
    background-color: white;
    color: rgba(239, 112, 0, 0.75);
    outline: none;
    transition: var(--member-animation);
    border-radius: 10px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .gs-profile-social a:first-child {
    border-top-right-radius: 10px;
  }
  .gs-profile-social a:last-child {
    border-bottom-left-radius: 10px;
  }

  .gs-user-stats {
    flex-direction: row;
    position: relative;
    bottom: unset;
    right: unset;
    text-align: center;
    justify-content: center;
    margin-top: 25px;
  }
  .gs-user-stats .gs-user-stats-item {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 10px;
    margin-right: 10px;
  }
  .gs-user-stats .gs-user-stats-title {
    color: rgb(255, 211, 175);
    font-size: 1.3rem;
  }
  .gs-user-stats .gs-user-stats-data {
    color: rgb(255, 211, 175);
    font-size: 2.5rem;
    font-weight: lighter;
  }
}

/* STATS Section */
.stats-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  overflow-x: auto;
}

.gs-stats-item {
  background-color: #FFFDFA;
  border-radius: 10px;
  padding: 20px;
  font-family: var(--font-family-2);
  border: 1px solid rgb(255, 179, 116);
}

.gs-stats-title {
  color: rgb(241, 128, 29);
  font-size: 1.5rem;
  margin-bottom: 5px;
  font-weight: bold;
}
.gs-stats-data {
  font-size: 1.5rem;
  
}

@media (max-width: 800px) {
  .stats-container {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 20px;
  }
}

/* CONTRIBUTIONS Section */
.gs-profile-container-contributions {
  overflow: visible;
}
.gs-profile-container-contributions .coming-soon-text {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-family-2);
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 3px 10px rgb(163, 73, 0);
  display: none;
}

.graph-container {
  width: 100%;
  overflow: visible;
}

.square {
  position: relative;
}

.gs-tooltip-container {
  background-color: rgba(26, 26, 26, 0.8);
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  height: 35px;
  width: 280px;
  bottom: 200%;
  left: 50%;
  transform: translateY(-100%);
  display: none;
  z-index: 20;
  overflow: hidden;
  border-radius: 5px;
  transform: translateX(-50%);
  align-items: center;
  justify-content: center;
  overflow: visible;
}

.gs-tooltip-container::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 100%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  
  border-top: 10px solid rgba(26, 26, 26, 0.8);
}

.gs-tooltip .gs-tooltip-white-text {
  color: #ffffff;
}

.square:hover .gs-tooltip-container {
  display: flex;
}

.gs-tooltip-container:hover {
  display: none !important;
}

.gs-profile-container-activity .gs-container-subtitle-info {
  font-size: 1rem;
}

@media (max-width: 800px) {
  .gs-profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    top: -120px;
    left: 40px;
  }
  .gs-profile-container .gs-fullname {
    margin-top: 80px;
    font-size: 2.8rem;
  }
  .gs-profile-container-main {
    margin-top: 125px;
    padding: 35px 130px 35px 35px;
  }
  .gs-container-img {
    display: none;
  }
  .gs-profile-container-activity .gs-container-subtitle-info {
    display: block;
  }
}

@media (max-width: 600px) {
  .gs-profile-pic {
    left: 50%;
    transform: translateX(-50%);
  }
  .gs-profile-pic:hover {
    left: 50%;
    transform: translate(-50%, -4px);
    box-shadow: 8px 12px 25px -15px rgb(255, 255, 255);
    transition: var(--pic-animation);
  }
  .gs-profile-container {
    padding: 25px 25px 25px 25px;
  }
  .gs-profile-container .gs-fullname {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5px;
  }
  .gs-profile-container .gs-username {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 10px;
  }
  .gs-profile-container .gs-bio {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  .gs-profile-container .gs-container-subtitle {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .gs-profile-container .gs-container-subtitle {
    font-size: 1.8rem;
  }
  .gs-profile-container-contributions {
    overflow: hidden;
  }
  .graph-container {
    overflow: auto;
  }
  .gs-tooltip-container {
    height: 50px;
    width: 130px;
  }
  .gs-tooltip span {
    display: block;
    font-size: 0.9rem;
  }
  .squares-legend-container {
    margin-top: 20px;
    transform-origin: right;
    transform: scale(0.8);
  }
}

/* GitHub Contribution Grid CSS */
/* Article - https://bitsofco.de/github-contribution-graph-css-grid/ */
:root {
  --square-size: 15px;
  --square-gap: 5px;
  --week-width: calc(var(--square-size) + var(--square-gap));
}

.months {
  grid-area: months;
  margin-bottom: 5px;
}
.days {
  grid-area: days;
  margin-right: 5px;
}
.squares { grid-area: squares; }

.graph {
  display: inline-grid;
  grid-template-areas: "empty months"
                       "days squares";
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
}

.months {
  display: grid;
  grid-template-columns: calc(var(--week-width) * 4) /* Mar */
                         calc(var(--week-width) * 4) /* Apr */
                         calc(var(--week-width) * 5) /* May */
;
}

.days,
.squares {
  display: grid;
  grid-gap: var(--square-gap);
  grid-template-rows: repeat(7, var(--square-size));
}

.squares {
  grid-auto-flow: column;
  grid-auto-columns: var(--square-size);
}

.graph {
  padding: 20px;
  /* border: 1px #FFCC80 solid; */
  /* margin: 20px; */
}

.days li:nth-child(odd) {
  visibility: hidden;
}

.squares li, .squares-legend li[data-level="0"] {
  background-color: #ebedf0;
}

.squares li[data-level="1"], .squares-legend li[data-level="1"] {
  /* background-color: #c6e48b; */
  background-color: #ffd599;
}

.squares li[data-level="2"], .squares-legend li[data-level="2"] {
  /* background-color: #7bc96f; */
  background-color: #ff965d;
}

.squares li[data-level="3"], .squares-legend li[data-level="3"] {
  /* background-color: #196127; */
  background-color: #eb631b;
}

.squares li[data-level="4"], .squares-legend li[data-level="4"] {
  /* background-color: #196127; */
  background-color: #bf540c;
}

/* Legend */
.squares-legend-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.squares-legend-container .squares-legend {
  display: inline-grid;
  grid-template-columns: repeat(5, var(--square-size));
  grid-auto-rows: var(--square-size);
  grid-gap: 5px;
  grid-auto-flow: column;
  grid-auto-columns: var(10px);
}

.squares-legend-container .squares-legend .square {
  list-style-type: none;
}

.squares-legend-container .legend-text {
  margin: 0px 10px;
  font-size: 0.9rem;
}

/******* PROJECTS Section *******/
#projectsContainer {
  display: grid;
  gap: 20px;
  word-break: break-word;
}

.gs-project {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  padding: 20px;
  background-color: rgb(255, 253, 250);
  border-radius: 10px;
  border: 1px solid rgb(255, 179, 116);
  overflow-x: auto;
  font-family: var(--font-family-2);
}

.gs-project .gs-project-text {
  font-size: 1.5rem;
  margin-top: 5px;
}
.gs-project .gs-project-description {
  font-size: 1.3rem;
}
.gs-project .gs-project-date {
  font-size: 1rem;
  color: rgb(241, 134, 46);
  margin-top: 5px;
}
.gs-project .iconify-main {
  min-width: 24px;
  height: 24px;
  margin-right: 15px;
  color: rgb(224, 101, 0);
}
.gs-project .gs-project-link {
  position: absolute;
  color: rgb(224, 101, 0);
  font-size: 1.5rem;
  padding: 15px;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.gs-project .gs-project-extra {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 5px;
}
.gs-project .gs-project-extra-item {
  margin-right: 20px;
  font-size: 1.1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
  color: rgb(161, 161, 161);
}
.gs-project .gs-project-extra-item:last-child {
  margin-right: 0px;
}
.gs-project .gs-project-extra-stat {
  margin-right: 20px;
}
.gs-project .gs-project-extra-stat:last-child {
  margin-right: 0px;
}
.gs-project .gs-project-lang {
  color: rgb(236, 155, 88);
}
.gs-project .gs-project-extra-item .iconify {
  margin-right: 5px;
}

@media (max-width: 700px) {
  .gs-project {
    flex-direction: column;
    align-items: unset;
  }
  .gs-project .iconify-main {
    margin-bottom: 10px;
  }
}
@media (max-width: 400px) {
  .gs-project .gs-project-extra {
    flex-direction: column;
    align-items: flex-start;
  }
  .gs-project .gs-project-extra-item {
    margin-right: 0px;
    margin-top: 5px;
  }
}

/******* ACTIVITY Section *******/
.gs-selector {
  position: absolute;
  top: -66px;
  left: 0px;
  width: auto;
  display: flex;
  flex-direction: row;
}
.gs-selector-items {
  padding: 20px 35px;
  margin: 0px 0px;
  margin-left: 15px;
  text-align: center;
  color: #ffffff;
  font-family: var(--font-family-2);
  font-size: 1.2rem;
  font-weight: bold;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border: none;
  outline: none;
  letter-spacing: 1px;
  align-items: flex-start;
  transition: all 0.3s ease-in-out;
  background-color: #F6A55E;
  color: #ffffff;
  box-shadow: 0 -5px 15px #ffae3e;
  cursor: pointer;
}
.gs-selector .selected {
  background-color: #EF6F00;
}

.activity-container {
  display: none;
  gap: 20px;
  word-break: break-word;
}

.gs-profile-container-activity {
  margin-top: 95px;
  background-color: #ffffff;
  border-top-left-radius: 0;
}

.gs-profile-container-activity a:hover {
  color: rgba(224, 101, 0, 1);
  opacity: 0.75;
}

.selected-container {
  display: grid;
}

@media (max-width: 600px) {
  .gs-profile-container-activity .gs-container-subtitle {
    margin-top: 36px;
  }
  .gs-profile-container-activity {
    margin-top: 0px;
    margin: 20px 0px;
    overflow-x: auto;
  }
  .gs-selector {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: auto;
    justify-content: center;
    overflow: auto;
  }
  .gs-selector-items {
    padding: 15px 15px;
    margin-left: 0px;
    text-align: center;
    color: #ffffff;
    font-family: var(--font-family-2);
    font-size: 1.1rem;
    border-radius: 12px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: none;
  }
}

@media (max-width: 600px) {
  .gs-selector {
    justify-content: start;
  }
}

/* COMMITS Section */
.gs-commit {
  padding: 20px;
  background-color: rgb(255, 253, 250);
  border-radius: 10px;
  border: 1px solid rgb(255, 179, 116);
  overflow-x: auto;
  font-family: var(--font-family-2);
}
.gs-commit-date {
  font-size: 1rem;
  color: rgb(241, 134, 46);
}
.gs-commit-text {
  font-size: 1.5rem;
  margin-top: 5px;
}
.gs-commit-message {
  font-size: 1.3rem;
}

/* ISSUES Section */
/* Labels */
.gs-labels-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.gs-label {
  display: inline-block;
  border-radius: 5px;
  margin-right: 5px;
  padding: 5px;
  font-size: 0.85rem;
  font-weight: bold;
  opacity: 0.9;
  user-select: none;
  margin-bottom: 10px;
}
.gs-issue {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.gs-issue .iconify {
  min-width: 24px;
  height: 24px;
  margin-right: 15px;
}

/* red */
.gs-issue.gs-issue-closed {
  padding: 20px;
  background-color: rgb(255, 250, 250);
  border-radius: 10px;
  border: 1px solid rgb(230, 173, 178);
  overflow-x: auto;
  font-family: var(--font-family-2);
}
.gs-issue.gs-issue-closed a {
  color: var(--issue-closed);
}
.gs-issue-closed .gs-issue-date {
  font-size: 1rem;
  color: var(--issue-closed);
  opacity: 0.8;
}
.gs-issue-closed .gs-issue-text {
  font-size: 1.5rem;
  margin-bottom: 5px;
}
.gs-issue-closed .gs-issue-message {
  font-size: 1.3rem;
  color: var(--issue-closed);
}
.gs-issue-closed .iconify {
  color: var(--issue-closed);
}
/* green */
.gs-issue.gs-issue-open {
  padding: 20px;
  background-color: rgb(251, 255, 250);
  border-radius: 10px;
  border: 1px solid rgb(165, 212, 176);
  overflow-x: auto;
  font-family: var(--font-family-2);
}
.gs-issue.gs-issue-open a {
  color: var(--issue-open);
}
.gs-issue-open .gs-issue-date {
  font-size: 1rem;
  color: var(--issue-open);
  opacity: 0.7;
}
.gs-issue-open .gs-issue-text {
  font-size: 1.5rem;
  margin-bottom: 5px;
}
.gs-issue-open .gs-issue-message {
  font-size: 1.3rem;
  color: var(--issue-open);
}
.gs-issue-open .iconify {
  color: var(--issue-open);
}

@media (max-width: 700px) {
  .gs-issue {
    flex-direction: column;
    align-items: unset;
  }
  .gs-issue .iconify {
    margin-bottom: 10px;
  }
}

/* PRS Section */
.gs-pr {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.gs-pr .iconify {
  min-width: 24px;
  height: 24px;
  margin-right: 15px;
}

/* red */
.gs-pr.gs-pr-closed {
  padding: 20px;
  background-color: rgb(255, 250, 250);
  border-radius: 10px;
  border: 1px solid rgb(230, 173, 178);
  overflow-x: auto;
  font-family: var(--font-family-2);
}
.gs-pr.gs-pr-closed a {
  color: var(--issue-closed);
}
.gs-pr-closed .gs-pr-date {
  font-size: 1rem;
  color: var(--issue-closed);
  opacity: 0.8;
}
.gs-pr-closed .gs-pr-text {
  font-size: 1.5rem;
  margin-bottom: 5px;
}
.gs-pr-closed .gs-pr-message {
  font-size: 1.3rem;
  color: var(--issue-closed);
}
.gs-pr-closed .iconify {
  color: var(--issue-closed);
}
/* purple */
.gs-pr.gs-pr-merged {
  padding: 20px;
  background-color: rgb(252, 250, 255);
  border-radius: 10px;
  border: 1px solid rgb(202, 186, 233);
  overflow-x: auto;
  font-family: var(--font-family-2);
}
.gs-pr.gs-pr-merged a {
  color: var(--pr-merged);
}
.gs-pr-merged .gs-pr-date {
  font-size: 1rem;
  color: var(--pr-merged);
  opacity: 0.8;
}
.gs-pr-merged .gs-pr-text {
  font-size: 1.5rem;
  margin-bottom: 5px;
}
.gs-pr-merged .gs-pr-message {
  font-size: 1.3rem;
  color: var(--pr-merged);
}
.gs-pr-merged .iconify {
  color: var(--pr-merged);
}
/* green */
.gs-pr.gs-pr-open {
  padding: 20px;
  background-color: rgb(251, 255, 250);
  border-radius: 10px;
  border: 1px solid rgb(165, 212, 176);
  overflow-x: auto;
  font-family: var(--font-family-2);
}
.gs-pr.gs-pr-open a {
  color: var(--issue-open);
}
.gs-pr-open .gs-pr-date {
  font-size: 1rem;
  color: var(--issue-open);
  opacity: 0.7;
}
.gs-pr-open .gs-pr-text {
  font-size: 1.5rem;
  margin-bottom: 5px;
}
.gs-pr-open .gs-pr-message {
  font-size: 1.3rem;
  color: var(--issue-open);
}
.gs-pr-open .iconify {
  color: var(--issue-open);
}

@media (max-width: 700px) {
  .gs-pr {
    flex-direction: column;
    align-items: unset;
  }
  .gs-pr .iconify {
    margin-bottom: 10px;
  }
}
