.testimonial{
  margin:50px auto 50px;
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(350px, 1fr));
  grid-gap:20px;
}
.testimonial .card{
  position:relative;
  margin:0 auto;
  width:350px;
  background:#fff;
  padding:20px;
  box-sizing:border-box;
  text-align:center;
  box-shadow:0 10px 40px rgba(0,0,0,.5);
  overflow:hidden;
}
.testimonial .card .layer{
  position:absolute;
  top:calc(100% - 2px);
  left:0;
  height:100%;
  width:100%;
  background:linear-gradient(#03a9f4, #e91ee3);
  z-index:1;
  transition:0.5s;
}
.testimonial .card:hover .layer{
  top:0;
}
.testimonial .card .content{
  position:relative;
  z-index:2;
}
.testimonial .card .content p{
  font-size:18px;
  line-height:24px;
}
.testimonial .card .content .image{
  width:128px;
  height:128px;
  margin:0 auto;
  border-radius:50%;
  overflow:hidden;
  border:4px solid #fff;
  box-shadow:0 10px 20px
    rgba(0,0,0,.2);
}
.testimonial .card .content .details h2{
  font-size:18px;
}
.testimonial .card .content .details span{
  color:#03a9f4;
  font-size:14px;
  transition:0.5s;
}
.testimonial .card:hover .content .details span{
  color:#fff;
}