/**************** NAV ****************/
.navbar-fixed{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

#nav-bar {
  background-color: transparent;
  box-shadow: none;
  width: 100%;
  margin: 0;
}

#nav-bar.scroll-down {
  background: #FF512F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.25);
}

#nav-bar.scroll-down ul li {
  margin: 0px;
  font-size: 120%;
  text-transform: uppercase;
  font-weight: bold;
  color:#CCC;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

#nav-bar.scroll-up ul li{
  margin: 0 5px;
  font-size: 120%;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

#nav-bar.scroll-up #nav-list li:hover{
  border-bottom: 4px solid orange;
}

#nav-bar ul a{
  text-decoration: none;
  cursor: pointer;
  color:white;
}

#nav-bar {
  transition: 0.2s ease all;
}

#nav-bar ul a {
  display:block;
  font-family: 'Josefin Sans', sans-serif;
}

#nav-bar ul li {
  position: relative;
  margin: 0;
  padding: 0;
}

#nav-bar ul ul {
  display: none;
  position: absolute;
  background: #fff;
  padding: 0;
}

#nav-bar ul li:hover > ul {
  display: block;
}

#nav-bar .nav-wrapper {
  width: 92%;
  height: 100%;
  margin: 0 auto;
  position: static;
}

#nav-bar #nav-wrapper a {
  color: #fff;
}

#logo-container {
  opacity: 0;
  -webkit-transition:all 200ms ease-in-out;
  -moz-transition:all 200ms ease-in-out;
  -o-transition:all 200ms ease-in-out;
  transition:all 200ms ease-in-out;
}

.scroll-down #logo-container{
  opacity: 1;
  font-family: 'Oswald', sans-serif;
  -webkit-transition:all 200ms ease-in-out;
  -moz-transition:all 200ms ease-in-out;
  -o-transition:all 200ms ease-in-out;
  transition:all 200ms ease-in-out;
}

#nav-list {
  text-align: center;
  display: inline-block;
  margin: 0px auto;
  height: 100%;
}

#nav-bar #nav-list li.dropdown, #nav-bar #nav-list li.dropdown a {
  height: auto;
}

#nav-bar #nav-list li.dropdown:hover {
  position: relative;
  border-bottom: none;
}

#nav-bar #nav-list li.dropdown ul li {
  margin: 0px;
  width: 100%;
}

#nav-bar #nav-list .dropdown:hover ul::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 15px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #ffffff transparent;
  z-index: 8000;
  overflow: visible;
}

#nav-bar #nav-list .dropdown ul li:hover {
  border-bottom: none;
}

#nav-bar #nav-list .dropdown ul {
  -webkit-box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.15);
  transition: 0.2s ease;
  z-index: 300;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#nav-bar #nav-list .dropdown ul a {
  color: #585858;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 22px;
  padding: 20px;
}

#nav-bar #nav-list .dropdown ul li {
  background-color: #ffffff;
  border-bottom: none;
}

.fa-sort-down:before {
  top: 12px;
}

.dn {
  min-width: 130px;
}

#nav-mobile li {
  position: page;
  display: block;
  width: 100%;
}

.sidenav {
  text-align: left;
  background-color: #EF6E00;
}

#nav-bar .sidenav-trigger {
  position: absolute;
  left: 2%;
}

.sidenav-overlay {
  z-index: 500;
}

.sidenav li > a > i {
  float: none;
  color: #ffffff;
}

#nav-bar.scroll-up ul.sidenav li {
  margin: 0px;
}

.dropdown-container {
  padding-left: 0px;
  display: none;
  background-color: #262626;
}

.dropdown-container a {
  padding: 0px 35px;
}

.nav-logo-type{
  height: 50px;
  margin-top: 2.4%;
  margin-left: 5%;
}

.nav-logo {
  height:auto;
  width: 100%;
  padding: 20px 32px;
}
/**************** NAV end ****************/